/* GRID */
*
{
    box-sizing: border-box
}
.grid
{
    display: grid;
}
.grid.add.gutters
{
    gap: 1rem;
}
.nav-bar a:first-child
{
    color:rgb(247, 217, 138);
}









/* 2 column */
@media(min-width: 75rem)
{
    .content-grid
    {
        grid-template-columns: 1fr 1fr;
    }
    .title
{
    background-color: pink;
    padding-top: 3.8125rem;
    padding-bottom: 11.75rem;
    background-size: cover;
    padding-right: 3.69rem;
    background-size: cover; 
    background-position: 75% 50%;
    background-image: url('../images/Communites-title.jpg');
    /* margin-top: -2rem; */
}
.title h1
{
    font-size: 3.8125rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 800;
    color: white;   
    margin-left: 8.88rem;
    margin-top: 7.6rem;
    padding-right: 3.69rem;
    margin-top: 7.625rem;
}
.title p
{
    font-size: 1.8125rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    color: white;
    margin-left: 8.88rem;
    margin-top: 0.44rem;
    margin-bottom: 6.19rem;
}

/* cards */
.category-content
{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
  .category-content h2
    {
        font-size: 2.81rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 700;
        padding-left: 4rem;
        margin-bottom: -2rem;
        margin-top: -2rem;
        padding-right: 3rem;
    }
    .category-content p
    {
        font-size: 1.5rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 400;
        max-width: 37rem;
        padding-left: 4rem;
        margin-bottom: 4rem;
        margin-top: 5.5rem;
    }
    .category-content img
    {
        max-width: 60rem;
        height: 34rem;
        object-fit: cover;
    }
    .category-content a
    {
        color: white;
        text-decoration: none;
        background-color: rgb(244, 125, 41);
        padding-top: 0.4375rem; 
        padding-bottom: 0.4375rem; 
        padding-left: 3.5625rem; 
        padding-right: 3.5625rem;
        font-size: 1.125rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 700;
        border-radius: 1.875rem;
        margin-left: 4rem;
    }
    .category-content a:hover 
    {
        background-color: rgb(233, 168, 122);
    }
    .category-content a:focus
    {
        background-color: rgb(233, 168, 122);
    }

    /* cards info */

    /* community intitiatives */
    .content1
    {
        background-color: rgb(108, 138, 130);
        color: black;
        width: 100%;
        margin-bottom: 0.3125rem;
        margin-top: 0.625rem;
        /* border-radius: 1.875rem 0 0 1.875rem;   */
        padding-top: 6rem;
        padding-bottom: 6rem;
        margin-bottom: 0.31rem;
    }
    .image1
    {
        width: 100%;
        height: 100%;
        margin-bottom: 0.31rem;
        margin-top: 0.625rem;
        margin-right: 0.625rem;
        /* border-radius: 0 1.875rem 1.875rem 0; */
    }
    
     /* sustainable activism */
     .content2
     {
         background-color: rgb(19, 121, 95);
         color: black;
         width: 100%;
         margin-top: 0.31rem;
         margin-bottom: 0.31rem;
         /* border-radius: 0 1.875rem 1.875rem 0; */
        padding-top: 6rem;
        padding-bottom: 6rem;
     }
    .image2
    {
        width: 100%;
        height: 100%;
        margin-top: 0.3125rem;
        margin-bottom: 0.31rem;
        /* border-radius: 1.875rem 0 0 1.875rem; */
    }

    /* clean technology */
    .content3
    {
        background-color: rgb(247, 217, 138);
        color: black;
        width: 100%;
        margin-bottom: 0.3125rem;
        margin-top: 0.625rem;
        /* border-radius: 1.875rem 0 0 1.875rem;   */
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .image3
    {
        width: 100%;
        height: 100%;
        margin-bottom: 0.31rem;
        margin-top: 0.625rem;
        margin-right: 0.625rem;
        /* border-radius: 0 1.875rem 1.875rem 0; */
    }

    /* sustainable food practices */
    .content4
    {
        background-color: rgb(188, 223, 231);
        color: black;
        width: 100%;
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
        /* border-radius: 0 1.875rem 1.875rem 0; */
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .image4
    {
        width: 100%;
        height: 100%;
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
        /* border-radius: 1.875rem 0 0 1.875rem; */
    }

      /* active outdoors */
      .content5
      {
          background-color: rgb(108, 138, 130);
          color: black;
          width: 100%;
          margin-bottom: 0.3125rem;
          margin-top: 0.625rem;
          /* border-radius: 1.875rem 0 0 1.875rem;   */
          padding-top: 6rem;
          padding-bottom: 6rem;
      }
      .image5
      {
          width: 100%;
          height: 100%;
          margin-bottom: 0.31rem;
          margin-top: 0.625rem;
          margin-right: 0.625rem;
          /* border-radius: 0 1.875rem 1.875rem 0; */
      }
      /* breadcrumb menu */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 4rem;
    margin-top: 1.25rem;
    font-size: 1.3125rem;
    padding-top: 2.75rem;
    font-weight: 400;
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}
  
  
}











/* 1200px-1008px */
@media(max-width: 75rem) and (min-width: 63rem)
{
    .content-grid
    {
        grid-template-columns: 1fr 1fr;
    }
    .title
    {
        background-color: pink;
        padding-top: 3.8125rem;
        padding-bottom: 11.75rem;
        background-size: cover;
        padding-right: 3.69rem;
        background-size: cover; 
        background-position: 75% 50%;
        background-image: url('../images/Communites-title.jpg');
        margin-top: -2rem;
    }
    .title h1
    {
        font-size: 3.8125rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 800;
        color: white;   
        margin-left: 8.88rem;
        margin-top: 7.6rem;
        padding-right: 3.69rem;
        margin-top: 7.625rem;
    }
    .title p
    {
        font-size: 1.8125rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 600;
        color: white;
        margin-left: 8.88rem;
        margin-top: 0.44rem;
        margin-bottom: 6.19rem;
    }
    
    /* cards */
    .category-content
    {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        /* max-width: 60rem; */
    }
      .category-content h2
        {
            font-size: 2.31rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-bottom: -2rem;
            margin-top: -2rem;
            max-width: 30rem;
        }
        .category-content p
        {
            font-size: 1rem;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 400;
            max-width: 26rem;
            padding-left: 4rem;
            margin-bottom: 4rem;
            margin-top: 5.5rem;
        }
        .category-content img
        {
            /* max-width: 60rem; */
            height: 30rem;
            object-fit: cover;
        }
        .category-content a
        {
            color: white;
            text-decoration: none;
            background-color: rgb(244, 125, 41);
            padding-top: 0.4375rem; 
            padding-bottom: 0.4375rem; 
            padding-left: 3.5625rem; 
            padding-right: 3.5625rem;
            font-size: 1.125rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            border-radius: 1.875rem;
            margin-left: 4rem;
        }
        .category-content a:hover 
        {
            background-color: rgb(233, 168, 122);
        }
        .category-content a:focus
        {
            background-color: rgb(233, 168, 122);
        }
    
        /* cards info */
    
        /* community intitiatives */
        .content1
        {
            background-color: rgb(108, 138, 130);
            color: black;
            width: 100%;
            margin-bottom: 0.3125rem;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0.31rem;
        }
        .image1
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.31rem;
            margin-top: 0.625rem;
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            margin-bottom: 0.31rem;
        }
        
         /* sustainable activism */
         .content2
         {
             background-color: rgb(19, 121, 95);
             color: black;
             width: 100%;
             margin-top: 0.31rem;
             margin-bottom: 0.31rem;
             /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-top: 0.31rem;
         }
        .image2
        {
            width: 100%;
            height: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.31rem;
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
    
        /* clean technology */
        .content3
        {
            background-color: rgb(247, 217, 138);
            color: black;
            width: 100%;
            margin-bottom: 0.3125rem;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image3
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.31rem;
            margin-top: 0.625rem;
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
        }
    
        /* sustainable food practices */
        .content4
        {
            background-color: rgb(188, 223, 231);
            color: black;
            width: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.3125rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image4
        {
            width: 100%;
            height: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.3125rem;
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
          /* active outdoors */
          .content5
          {
              background-color: rgb(108, 138, 130);
              color: black;
              width: 100%;
              margin-bottom: 0.3125rem;
              margin-top: 0.625rem;
              /* border-radius: 1.875rem 0 0 1.875rem;   */
              padding-top: 6rem;
              padding-bottom: 6rem;
          }
          .image5
          {
              width: 100%;
              height: 100%;
              margin-bottom: 0.31rem;
              margin-top: 0.625rem;
              margin-right: 0.625rem;
              /* border-radius: 0 1.875rem 1.875rem 0; */
          }
              /* breadcrumb menu */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 2.56rem;
    font-size: 1.3125rem;
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(233, 168, 122);
}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(233, 168, 122);
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}
      

}



















/* 1000px-800px */
@media(max-width: 63rem) and (min-width: 50rem)
{
    .content-grid
    {
        grid-template-columns: 1fr 1fr;
    }
    .title
    {
        background-color: pink;
        padding-top: 3.8125rem;
        padding-bottom: 11.75rem;
        background-size: cover;
        padding-right: 3.69rem;
        background-size: cover; 
        background-position: 75% 50%;
        background-image: url('../images/Communites-title.jpg');
        /* margin-top: -2rem; */
    }
    .title h1
    {
        font-size: 3.8125rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 800;
        color: white;   
        margin-left: 8.88rem;
        margin-top: 7.6rem;
        padding-right: 3.69rem;
        margin-top: 7.625rem;
    }
    .title p
    {
        font-size: 1.8125rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 600;
        color: white;
        margin-left: 8.88rem;
        margin-top: 0.44rem;
        margin-bottom: 6.19rem;
    }
    
    /* cards */
    .category-content
    {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
      .category-content h2
        {
            font-size: 1.81rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-bottom: -2rem;
            margin-top: -2rem;
        }
        .category-content p
        {
            font-size: 1rem;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 400;
            max-width: 26rem;
            padding-left: 4rem;
            padding-right: 2rem;
            margin-bottom: 4rem;
            margin-top: 5.5rem;
        }
        .category-content img
        {
            max-width: 60rem;
            height: 30rem;
            object-fit: cover;
        }
        .category-content a
        {
            color: white;
            text-decoration: none;
            background-color: rgb(244, 125, 41);
            padding-top: 0.4375rem; 
            padding-bottom: 0.4375rem; 
            padding-left: 3.5625rem; 
            padding-right: 3.5625rem;
            font-size: 1.125rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            border-radius: 1.875rem;
            margin-left: 4rem;
        }
        .category-content a:hover 
        {
            background-color: rgb(233, 168, 122);
        }
        .category-content a:focus
        {
            background-color: rgb(233, 168, 122);
        }
        
    
        /* cards info */
    
        /* community intitiatives */
        .content1
        {
            background-color: rgb(108, 138, 130);
            color: black;
            width: 100%;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0.31rem;
        }
        .image1
        {
            width: 100%;
            height: 100%;
            margin-top: 0.625rem;
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            margin-bottom: 0.31rem;
        }
        
         /* sustainable activism */
         .content2
         {
             background-color: rgb(19, 121, 95);
             color: black;
             width: 100%;
             margin-top: 0.31rem;
             margin-bottom: 0.31rem;
             /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-top: 0.31rem;
         }
        .image2
        {
            width: 100%;
            height: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.31rem;
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
    
        /* clean technology */
        .content3
        {
            background-color: rgb(247, 217, 138);
            color: black;
            width: 100%;
            margin-bottom: 0.3125rem;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image3
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.31rem;
            margin-top: 0.625rem;
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
        }
    
        /* sustainable food practices */
        .content4
        {
            background-color: rgb(188, 223, 231);
            color: black;
            width: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.3125rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image4
        {
            width: 100%;
            height: 100%;
            margin-top: 0.3125rem;
            margin-bottom: 0.3125rem;
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }

          /* active outdoors */
          .content5
          {
              background-color: rgb(108, 138, 130);
              color: black;
              width: 100%;
              margin-bottom: 0.3125rem;
              margin-top: 0.625rem;
              /* border-radius: 1.875rem 0 0 1.875rem;   */
              padding-top: 6rem;
              padding-bottom: 6rem;
          }
          .image5
          {
              width: 100%;
              height: 100%;
              margin-bottom: 0.31rem;
              margin-top: 0.625rem;
              margin-right: 0.625rem;
              /* border-radius: 0 1.875rem 1.875rem 0; */
          }
  /* breadcrumb menu */
  .breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 2.56rem;
    font-size: 1.3125rem;
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}

.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}

}











/* 800px-544px */
@media(max-width: 50rem) and (min-width: 34rem)
{
    .content-grid
    {
        grid-template-columns: auto;
    }
    .title
    {
        background-color: pink;
        padding-top: 3.8125rem;
        padding-bottom: 11.75rem;
        background-size: cover;
        padding-right: 3.69rem;
        background-size: cover; 
        background-position: 75% 50%;
        background-image: url('../images/Communites-title.jpg');
        margin-top: -2rem;
    }
    .title h1
    {
        font-size: 3rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 800;
        color: white;   
        margin-left: 5rem;
        margin-top: 7.6rem;
        padding-right: 3.69rem;
        margin-top: 7.625rem;
    }
    .title p
    {
        font-size: 1.8125rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 600;
        color: white;
        margin-left: 5rem;
        margin-top: 0.44rem;
        margin-bottom: 6.19rem;
    }
    
    /* cards */
    .category-content
    {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
      .category-content h2
        {
            font-size: 2.81rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-bottom: -2rem;
            margin-top: -2rem;
        }
        .category-content p
        {
            font-size: 1.5rem;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 400;
            max-width: 40rem;
            padding-right: 4rem;
            padding-left: 4rem;
            margin-bottom: 4rem;
            margin-top: 5.5rem;
        }
        .category-content img
        {
            max-width: 60rem;
            height: 30rem;
            object-fit: cover;
        }
        .category-content a
        {
            color: white;
            text-decoration: none;
            background-color: rgb(244, 125, 41);
            padding-top: 0.4375rem; 
            padding-bottom: 0.4375rem; 
            padding-left: 3.5625rem; 
            padding-right: 3.5625rem;
            font-size: 1.125rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            border-radius: 1.875rem;
            margin-left: 4rem;
        }
        .category-content a:hover 
        {
            background-color: rgb(233, 168, 122);
        }
        .category-content a:focus
        {
            background-color: rgb(233, 168, 122);
        }
    
        /* cards info */
    
        /* community intitiatives */
        .content1
        {
            background-color: rgb(108, 138, 130);
            color: black;
            width: 100%;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-bottom: 0.31rem; */
        }
        .image1
        {
            width: 100%;
            height: 100%;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            margin-bottom: 0.63rem;
        }
        
         /* sustainable activism */
         .content2
         {
             background-color: rgb(19, 121, 95);
             color: black;
             width: 100%;
             margin-bottom: 0.63rem;
             /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-top: 0.31rem; */
         }
        .image2
        {
            width: 100%;
            height: 100%;
            margin-top: 0.63rem;
            /* margin-bottom: 0.31rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
    
        /* clean technology */
        .content3
        {
            background-color: rgb(247, 217, 138);
            color: black;
            width: 100%;
            /* margin-bottom: 0.3125rem; */
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image3
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
        }
    
        /* sustainable food practices */
        .content4
        {
            background-color: rgb(188, 223, 231);
            color: black;
            width: 100%;
            /* margin-top: 0.3125rem; */
            margin-bottom: 0.63rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image4
        {
            width: 100%;
            height: 100%;
            margin-top: 0.63rem;
            /* margin-bottom: 0.3125rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }

          /* active outdoors */
          .content5
          {
              background-color: rgb(108, 138, 130);
              color: black;
              width: 100%;
              /* margin-bottom: 0.3125rem; */
              margin-top: 0.63rem;
              /* border-radius: 1.875rem 0 0 1.875rem;   */
              padding-top: 6rem;
              padding-bottom: 6rem;
          }
          .image5
          {
              width: 100%;
              height: 100%;
              margin-bottom: 0.31rem;
              /* margin-top: 0.625rem; */
              margin-right: 0.625rem;
              /* border-radius: 0 1.875rem 1.875rem 0; */
          }
    .center
{
    text-align: center;
}
/* breadcrumb menu */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 2.56rem;
    font-size: 1.56rem; /* 25px */
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}

}














/*544px-384px */
@media(max-width: 34rem) and (min-width: 24rem)
{
    .content-grid
    {
        grid-template-columns: 1fr;
    }
    .title
    {
        background-color: pink;
        padding-top: 3.8125rem;
        padding-bottom: 11.75rem;
        background-size: cover;
        padding-right: 3.69rem;
        background-size: cover; 
        background-position: 50% 50%;
        background-image: url('../images/Communites-title.jpg');
        margin-top: -2rem;
    }
    .title h1
    {
        font-size: 1.90rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 800;
        color: white;   
        margin-left: 5rem;
        margin-top: 7.6rem;
        padding-right: 3.69rem;
        margin-top: 7.625rem;
    }
    .title p
    {
        font-size: 1.25rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 600;
        color: white;
        margin-left: 5rem;
        margin-top: 0.44rem;
        margin-bottom: 6.19rem;
    }
    
    /* cards */
    .category-content
    {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
      .category-content h2
        {
            font-size: 1.90rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            padding-left: 4rem;
            padding-right: 3rem;
            margin-bottom: -2rem;
            margin-top: -2rem;
        }
        .category-content p
        {
            font-size: 1rem;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 400;
            max-width: 40rem;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-bottom: 4rem;
            margin-top: 5.5rem;
        }
        .category-content img
        {
            max-width: 60rem;
            height: 30rem;
            object-fit: cover;
        }
        .category-content a
        {
            color: white;
            text-decoration: none;
            background-color: rgb(244, 125, 41);
            padding-top: 0.4375rem; 
            padding-bottom: 0.4375rem; 
            padding-left: 3.5625rem; 
            padding-right: 3.5625rem;
            font-size: 1.125rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            /* border-radius: 1.875rem; */
            margin-left: 4rem;
        }
        .category-content a:hover 
        {
            background-color: rgb(233, 168, 122);
        }
        .category-content a:focus
        {
            background-color: rgb(233, 168, 122);
        }
    
        /* cards info */
    
        /* community initiatives */
        .content1
        {
            background-color: rgb(108, 138, 130);
            color: black;
            width: 100%;
            margin-top: 0.63rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-bottom: 0.31rem; */
        }
        .image1
        {
            width: 100%;
            height: 100%;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            margin-bottom: 0.63rem;
        }
        
         /* sustainable activism */
         .content2
         {
             background-color: rgb(19, 121, 95);
             color: black;
             width: 100%;
             margin-top: 0.63rem;
             /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-top: 0.31rem; */
         }
        .image2
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-bottom: 0.31rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
    
        /* clean technology */
        .content3
        {
            background-color: rgb(247, 217, 138);
            color: black;
            width: 100%;
            /* margin-bottom: 0.3125rem; */
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image3
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
        }
    
        /* sustainable food practices */
        .content4
        {
            background-color: rgb(188, 223, 231);
            color: black;
            width: 100%;
            /* margin-top: 0.3125rem; */
            margin-top: 0.63rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image4
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-bottom: 0.3125rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }

          /* active outdoors */
          .content5
          {
              background-color: rgb(108, 138, 130);
              color: black;
              width: 100%;
              /* margin-bottom: 0.3125rem; */
              margin-top: 0.63rem;
              /* border-radius: 1.875rem 0 0 1.875rem;   */
              padding-top: 6rem;
              padding-bottom: 6rem;
          }
          .image5
          {
              width: 100%;
              height: 100%;
              margin-bottom: 0.63rem;
              /* margin-top: 0.625rem; */
              margin-right: 0.625rem;
              /* border-radius: 0 1.875rem 1.875rem 0; */
          }
 
    .center
{
    text-align: center;
}
/* breadcrumb menu */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 2.56rem;
    font-size: 1.56rem; /* 25px */
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}

}






















/* 384px */
@media(max-width: 24rem) 
{
    .content-grid
    {
        grid-template-columns: 1fr;
    }
    .title
    {
        background-color: pink;
        padding-top: 3.8125rem;
        padding-bottom: 11.75rem;
        background-size: cover;
        /* padding-right: 3.69rem; */
        background-size: cover; 
        background-position: 50% 50%;
        background-image: url('../images/Communites-title.jpg');
        margin-top: -2rem;
    }
    .title h1
    {
        font-size: 1.90rem;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 800;
        color: white;   
        margin-left: 2rem;
        margin-top: 7.6rem;
        padding-right: 3.69rem;
        margin-top: 7.625rem;
    }
    .title p
    {
        font-size: 1.25rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 600;
        color: white;
        margin-left: 2rem;
        margin-top: 0.44rem;
        margin-bottom: 6.19rem;
    }
    
    /* cards */
    .category-content
    {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
      .category-content h2
        {
            font-size: 1.90rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: -2rem;
            margin-top: -2rem;
        }
        .category-content p
        {
            font-size: 1rem;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 400;
            max-width: 15rem;
            padding-left: 2rem;
            margin-bottom: 3rem;
            margin-top: 4rem;
        }
        .category-content img
        {
            max-width: 60rem;
            height: 30rem;
            object-fit: cover;
        }
        .category-content a
        {
            color: white;
            text-decoration: none;
            background-color: rgb(244, 125, 41);
            padding-top: 0.4375rem; 
            padding-bottom: 0.4375rem; 
            padding-left: 2rem; 
            padding-right: 2rem;
            font-size: 1.125rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            border-radius: 1.875rem;
            margin-left: 2rem;
        }
        .category-content a:hover 
        {
            background-color: rgb(233, 168, 122);
        }
        .category-content a:focus
        {
            background-color: rgb(233, 168, 122);
        }

    
        /* cards info */
    
        /* community intitiatives */
        .content1
        {
            background-color: rgb(108, 138, 130);
            color: black;
            width: 100%;
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-bottom: 0.31rem; */
        }
        .image1
        {
            width: 100%;
            height: 100%;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            margin-bottom: 0.63rem;
        }
        
         /* sustainable activism */
         .content2
         {
             background-color: rgb(19, 121, 95);
             color: black;
             width: 100%;
             margin-top: 0.63rem;
             /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
            /* margin-top: 0.31rem; */
         }
        .image2
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-bottom: 0.31rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }
    
        /* clean technology */
        .content3
        {
            background-color: rgb(247, 217, 138);
            color: black;
            width: 100%;
            /* margin-bottom: 0.3125rem; */
            margin-top: 0.625rem;
            /* border-radius: 1.875rem 0 0 1.875rem;   */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image3
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-top: 0.625rem; */
            margin-right: 0.625rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
        }
    
        /* sustainable food practices */
        .content4
        {
            background-color: rgb(188, 223, 231);
            color: black;
            width: 100%;
            /* margin-top: 0.3125rem; */
            margin-top: 0.63rem;
            /* border-radius: 0 1.875rem 1.875rem 0; */
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .image4
        {
            width: 100%;
            height: 100%;
            margin-bottom: 0.63rem;
            /* margin-bottom: 0.3125rem; */
            /* border-radius: 1.875rem 0 0 1.875rem; */
        }

          /* active outdoors */
          .content5
          {
              background-color: rgb(108, 138, 130);
              color: black;
              width: 100%;
              /* margin-bottom: 0.3125rem; */
              margin-top: 0.63rem;
              /* border-radius: 1.875rem 0 0 1.875rem;   */
              padding-top: 6rem;
              padding-bottom: 6rem;
          }
          .image5
          {
              width: 100%;
              height: 100%;
              margin-bottom: 0.63rem;
              /* margin-top: 0.625rem; */
              margin-right: 0.625rem;
              /* border-radius: 0 1.875rem 1.875rem 0; */
          }

    .center
{
    text-align: center;
}
/* breadcrumb menu */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: 1rem;
    font-size: 1rem; /* 25px */
}
.breadcrumb li 
{
    display: inline;
}
.breadcrumb a
{
    color: white;
    text-decoration: none;
}
.breadcrumb a:hover 
{
    text-decoration: none;
    color: rgb(247, 217, 138);

}
.breadcrumb a:focus
{
    text-decoration: none;
    color: rgb(247, 217, 138);
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
    color: white;
}
.breadcrumb li:last-child {
    font-weight: bold;
    color: rgb(247, 217, 138);
}

}
