/* Inquiry Section */
.background
{
    background-color: rgb(248 238 225);
    background-size: cover; 
    padding-left: 8.4375rem;
    padding-right: 8.4375rem;
    padding-top: 10.375rem;
    padding-bottom: 10.375rem;
}

.inquiry-form {
    max-width: 62.25rem; /* 996px */
    margin: auto;
    padding: 4.25rem 0; /* 68px top-bottom*/
    background-color: #13795F; 
    border-radius: 1.875rem; /* 30px border-radius */
    font-family: 'Open Sans', sans-serif;
}

.inquiry-form h2 {
    font-size: 2.5rem; /* 40px */
    color: #F8EEE1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Semibold */
    text-align: center;
    padding-bottom: 4.5rem; /* 72px */
}

.text-bar, .message-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-bar input,
.message-bar textarea {
    font-size: 1.5625rem; /* 25px */
    border-radius: 1.875rem; /* 30px border-radius */
    margin-bottom: 3.375rem; /* 54px */
    border: 0.313rem solid black;
    width: 6.25rem; /*996px */
    margin-left: 7.625rem; /* 122px */
}

.text-bar input {
    height: 2.4375rem;
}


.send-button {
    font-size: 1.75rem; /* 28px */
    background-color: rgb(244, 125, 41);
    color: white;
    padding: 0.625rem 2.25rem; /* 10px top-bottom, 36px left-right */
    border-radius: 1.875rem; /* 30px border-radius */
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: 6.375rem; /* 102px */
    margin-bottom: 7.625rem; /* 122px */
}




/* Inquiry form */

.background h2 {
    font-size: 2.5rem; /* 40px */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Semibold */
    margin-bottom: 4.5rem; /* 72px */
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.text-bar input,
.message-bar textarea {
    font-size: 1.5625rem; /* 25px */
    border-radius: 1.875rem; /* 30px */
    border: 0.125rem solid black;
    background-color: white;
    padding: 1.625rem 1.25rem;
    margin-bottom: 3.375rem;
    width: calc(100% - 12.75rem); /* responsive to inquiry */
    margin-left: auto; 
    margin-right: auto;
}

.message-bar textarea {
    height: auto;
    resize: vertical;
}

.text-bar input::placeholder,
.message-bar textarea::placeholder {
    color: rgb(136,178,159); /* Light green */
    text-align: left;
}

.send-button {
    font-size: 1.75rem; /* 28px */
    background-color: rgb(244, 125, 41);
    color: white;
    border-radius: 1.875rem; /* 30px */
    border: none;
    cursor: pointer;
    margin-top: 2rem; /* 32px */
    text-decoration: none;
    transition: background-color 0.3s;
}

.send-button:hover, .send-button:focus {
    cursor:pointer;
    background-color: rgb(233, 168, 122);
    opacity: 0.8;
}

.send-button:active {
    background-color: white;
    color: rgb(233, 168, 122);

}

/* Tablet inquiry  */
@media (max-width: 50rem) { /* 800px */
    .inquiry-section h2,
    .text-bar input,
    .message-bar textarea,
    .send-button {
        text-align: center;
    }

    .background
    {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .background h2 {
        font-size:1.5rem; /* 24  */
        margin-bottom: 0;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .send-button {
        margin: 2rem auto;
        font-size: 1.125rem;
        padding: 0.625rem 1.875rem; 
    }

    .text-bar input,
    .message-bar textarea {
        font-size: 1.125rem;
        width: 70%;
    }

    .text-bar input::placeholder,
    .message-bar textarea::placeholder {
        font-size: 1.125rem;
    }
}

/* for mobile incquiry form 400px */
@media (max-width: 25rem)
{
    .background h2 {
        font-size: calc(1.25rem + 0.1vw);
    }
    .background {
        padding-left: calc(1.25rem + 0.1vw);
        padding-right: calc(1.25rem + 0.1vw);
    }

    .text-bar input,
    .message-bar textarea {
        width:80%; 
    }

    .send-button {
        font-size: calc(0.875rem + 1vw);
        padding: calc(1rem + 1vw) calc(1.75rem + 1vw); 
    }

    .text-bar input::placeholder,
    .message-bar textarea::placeholder {
        font-size: 1.125rem;
    }

    .inquiry-form {
        width: 100%;
    }
}
