/* GRID */
*
{
    box-sizing: border-box
}
.grid
{
    display: grid;
}
.grid.add.gutters
{
    gap: 1rem;
}

.center
{
    text-align: center;
}



/* 3 column 1300px*/
@media(min-width: 81rem)
{
    .content-grid
    {
        grid-template-columns: 1fr 1fr 1fr;
    }

    details summary
{
    cursor: pointer;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
summary
{
    font-size: 1.25rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: rgb(19, 121, 95);
    /* background-color: blue; */
}
details
{
    font-size: 1rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    color: black;
    line-height: 170%;
    /* border: 1px solid black; */
    /* max-width: 35rem;   */
    margin-top: 1rem;
}
details[open] 
{
    border: 1px solid black;
}
details[open] summary
{
    margin-bottom: 1rem;
}

/* FAQ */
.center-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ
{
    text-align: center;
    background-color: rgb(248, 238, 225);
    padding-top: 6.375rem;
    padding-bottom: 6.375rem;
    padding-right: 1.19rem;
    padding-left: 1.19rem;
}
.FAQ h2
{
    font-size: 1.875rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 4rem;
}
.FAQ p
{
    font-size: 1.25rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: rgb(19, 121, 95);
}
.title
{
    background-color: pink;
    padding-top: 3.8125rem;
    padding-bottom: 11.75rem;
    background-size: cover;
    padding-right: 3.69rem;
    background-size: cover; 
    background-position: 75% 20%;
    background-image: url('../images/Home-photo.jpg');
    padding-top: 10rem;
    /* margin-top: -2rem; */
    padding-left: 11.43rem;
}
.title h1 p
{
    text-align: left;
}
.title h1
{
    font-size: 3.8125rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 800;
    color: white;   
    margin-top: 7.625rem;
}
.title p
{
    font-size: 1.8125rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    color: white;
    margin-top: 0.44rem;
    margin-bottom: 6.19rem;
}
.explore-button a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    border-radius: 1.875rem;
    margin-bottom: 5.75rem;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.explore-button a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}
/* newsletter */
.background-picture
{
    background-image: url('../images/newsletter.jpg');
    background-size: cover; 
}
.newsletter
{
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    margin: auto;
    /* width: 50%; */
}
.newsletter h2
{
    color: rgb(248, 238, 225);
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem; 
    margin-bottom: 6rem;
}
.text-bar input[type="text"]
{
    color: rgb(19, 121, 95);
    background-color: rgb(248 238 225);
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 1.5625rem;
    /* border-radius: 1.875rem; */
    padding-left: 1.5625rem;
    /* margin-top: 3.125rem; */
    margin-bottom: 3.125rem;
    width: 44rem;
}
.newsletter a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.625rem;
    padding-right: 3.625rem;
    border-radius: 1.875rem;
    transition-property: color;
    transition-duration: 0.5s;
}
.newsletter a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}

}








/* 1 column 1300px-736px*/
@media(min-width: 46rem) and (max-width: 81rem)
{
    .content-grid
    {
        grid-template-columns: 1fr;
    }

    details summary
{
    cursor: pointer;
    margin-bottom: 2.5rem;
}
summary
{
    font-size: 1.25rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: rgb(19, 121, 95);
    /* background-color: blue; */
}
details
{
    font-size: 1rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    color: black;
    line-height: 170%;
    /* border: 1px solid black; */
    /* max-width: 35rem;   */
    margin-top: 1rem;
}
details[open] 
{
    border: 1px solid black;
}
details[open] summary
{
    margin-bottom: 1rem;
}

/* FAQ */
.center-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ
{
    text-align: center;
    background-color: rgb(248, 238, 225);
    padding-top: 6.375rem;
    padding-bottom: 6.375rem;
    padding-right: 1.19rem;
    padding-left: 1.19rem;
}

.FAQ h2
{
    font-size: 1.875rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 4rem;
}
.FAQ p
{
    font-size: 1.25rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: rgb(19, 121, 95);
}
.title
{
    background-color: pink;
    padding-top: 3.8125rem;
    padding-bottom: 11.75rem;
    background-size: cover;
    padding-right: 3.69rem;
    background-size: cover; 
    background-position: 75% 20%;
    background-image: url('../images/Home-photo.jpg');
    padding-top: 10rem;
    /* margin-top: -2rem; */
    padding-left: 11.43rem;
}
.title h1 p
{
    text-align: right;
}
.title h1
{
    font-size: 3.8125rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 800;
    color: white;   
    margin-top: 7.625rem;
}
.title p
{
    font-size: 1.8125rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    color: white;
    margin-top: 0.44rem;
    margin-bottom: 6.19rem;
}
.explore-button a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin-bottom: 5.75rem;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.explore-button a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}
/* newsletter */
.background-picture
{
    background-image: url('../images/newsletter.jpg');
    background-size: cover; 
}
.newsletter
{
    /* background-color: rgb(19, 121, 95); */
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    margin: auto;
    /* width: 50%; */
    padding-left: 1.56rem;
    padding-right: 1.56rem;
}
.newsletter h2
{
    color: rgb(248, 238, 225);
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem; 
    margin-bottom: 6rem;
}
.text-bar input[type="text"]
{
    color: rgb(19, 121, 95);
    background-color: rgb(248, 238, 225);
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 1.5625rem;
    padding-left: 1.5625rem;
    margin-bottom: 3.125rem;
    max-width: 44rem;
    min-width: 30rem;

}
.newsletter a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.625rem;
    padding-right: 3.625rem;
    transition-property: color;
    transition-duration: 0.5s;
}
.newsletter a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}

}







/* 1 column 730-496px*/
@media(max-width: 46rem) and (min-width: 31rem)
{
    .content-grid
    {
        grid-template-columns: 1fr;
    }

    details summary
{
    cursor: pointer;
    margin-bottom: 2.5rem;
}
summary
{
    font-size: 1.25rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: rgb(19, 121, 95);
    /* background-color: blue; */
}
details
{
    font-size: 1rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    color: black;
    line-height: 170%;
    /* border: 1px solid black; */
    /* max-width: 35rem;   */
    margin-top: 1rem;
}
details[open] 
{
    border: 1px solid black;
}
details[open] summary
{
    margin-bottom: 1rem;
}

/* FAQ */
.center-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ
{
    text-align: center;
    
    
    background-color: rgb(248, 238, 225);
    padding-top: 6.375rem;
    padding-bottom: 6.375rem;
    padding-right: 1.19rem;
    padding-left: 1.19rem;
}
.FAQ h2
{
    font-size: 1.875rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 4rem;
}
.FAQ p
{
    font-size: 1.25rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: rgb(19, 121, 95);
}
.title
{
    background-color: pink;
    padding-top: 3.8125rem;
    padding-bottom: 11.75rem;
    background-size: cover;
    padding-right: 3.69rem;
    background-size: cover; 
    background-position: 75% 20%;
    background-image: url('../images/Home-photo.jpg');
    text-align: left;
    padding-top: 10rem;
    /* margin-top: -2rem; */
    padding-left: 3rem;
}
.title h1
{
    font-size: 3.8125rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 800;
    color: white;   
    margin-top: 7.625rem;
}
.title p
{
    font-size: 1.8125rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    color: white;
    margin-top: 0.44rem;
    margin-bottom: 6.19rem;
}
.explore-button a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    /* border-radius: 1.875rem; */
    margin-bottom: 5.75rem;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.explore-button a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}
/* newsletter */
.background-picture
{
    background-image: url('../images/newsletter.jpg');
    background-size: cover; 
}
.newsletter
{
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
}
.newsletter h2
{
    color: rgb(248, 238, 225);
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem; 
    margin-bottom: 6rem;
}
.text-bar input[type="text"]
{
    color: rgb(19, 121, 95);
    background-color: rgb(248, 238, 225);
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 1.5625rem;
    padding-left: 1.5625rem;
    margin-bottom: 3.125rem;
 
}
.newsletter a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.625rem;
    padding-right: 3.625rem;
    /* border-radius: 1.875rem; */
    transition-property: color;
    transition-duration: 0.5s;
}
.newsletter a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}

}







/* 1 column 496px*/
@media(max-width: 31rem) 
{
    .content-grid
    {
        grid-template-columns: 1fr;
    }

    details summary
{
    cursor: pointer;
    margin-bottom: 2.5rem;
}
summary
{
    font-size: 1.25rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: rgb(19, 121, 95);
    /* background-color: blue; */
}
details
{
    font-size: 1rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    color: black;
    line-height: 170%;
    /* border: 1px solid black; */
    /* max-width: 35rem;   */
    margin-top: 1rem;
}
details[open] 
{
    border: 1px solid black;
}
details[open] summary
{
    margin-bottom: 1rem;
}

/* FAQ */
.center-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ
{
    text-align: center;
    background-color: rgb(248, 238, 225);
    padding-top: 6.375rem;
    padding-bottom: 6.38rem;
    padding-right: 1.19rem;
    padding-left: 1.19rem;
}
.FAQ h2
{
    font-size: 1.875rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 4rem;
}
.FAQ p
{
    font-size: 1.25rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: rgb(19, 121, 95);
}
.title
{
    background-color: pink;
    padding-top: 3.8125rem;
    padding-bottom: 11.75rem;
    background-size: cover;
    padding-right: 3.69rem;
    background-size: cover; 
    background-position: 75% 20%;
    background-image: url('../images/Home-photo.jpg');
    text-align: left;
    padding-top: 2.5rem;
    /* margin-top: -2rem; */
    padding-left: 1.88rem;
    padding-right: 1.88rem;
}
.title h1
{
    font-size: 1.90rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 800;
    color: white;   
    margin-top: 7.63rem;
}
.title p
{
    font-size: 1.25rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    color: white;
    margin-top: 0.44rem;
    margin-bottom: 5.5rem;
}
.explore-button a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.94rem;
    padding-right: 0.94rem;
    margin-bottom: 2.5rem;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.explore-button a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}
/* newsletter */
.background-picture
{
    background-image: url('../images/newsletter.jpg');
    background-position: center;
}
.newsletter
{
    /* background-color: rgb(19, 121, 95); */
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
}
.newsletter h2
{
    color: rgb(248 238 225);
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 6rem;
}
.text-bar input[type="text"]
{
    color: rgb(19 121 95);
    background-color: rgb(248, 238, 225);
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 1.5625rem;
    /* border-radius: 1.875rem; */
    padding-left: 1.5625rem;
    /* margin-top: 3.125rem; */
    margin-bottom: 3.125rem;
    /* margin-left: 5rem;
    margin-right: 7.5rem; */
    width: 10.25rem;
}
.newsletter a
{
    background-color: rgb(244, 125, 41);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.625rem;
    padding-right: 3.625rem;
    /* border-radius: 1.875rem; */
    transition-property: color;
    transition-duration: 0.5s;
}
.newsletter a:hover, a:focus
{
    background-color: rgb(233, 168, 122);
}
.filler
{
    background-color: rgb(248, 238, 225);
    height: 6.38rem;

}

}
